<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Block ADMIN" enabled="false" stopProcessing="true">
                    <match url="wp-admin" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www.webnotwar.ca" />
                        <add input="{REMOTE_ADDR}" negate="true"
                             pattern="66.158.136.226" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca"
                            redirectType="Permanent" />
                </rule>
                <rule name="Block ADMIN2" enabled="false" stopProcessing="true">
                    <match url="wp-login.php" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www.webnotwar.ca" />
                        <add input="{REMOTE_ADDR}" negate="true"
                             pattern="66.158.136.226" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca"
                            redirectType="Permanent" />
                </rule>
                <rule name="Port25 Redirect 2" stopProcessing="true">
                    <match url="category/(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="port25.ca"
                             ignoreCase="false" />
                    </conditions>
                    <action type="Redirect"
                            url="http://www.webnotwar.ca/category/blog/{R:1}/"
                            redirectType="Permanent" />
                </rule>
                <rule name="Port25 Redirect 4" stopProcessing="true">
                    <match url="(.*)/(.*)/(.*)/(.*)/" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="port25.ca"
                             ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca/{R:4}"
                            appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="Port25 Redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)/(.*)/(.*)/(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="port25.ca"
                             ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca/{R:4}/"
                            redirectType="Permanent" />
                </rule>
                <rule name="Port25 Redirect 3" enabled="true"
                      stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="port25.ca"
                             ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca/{R:0}"
                            redirectType="Permanent" />
                </rule>
                <rule name="Webcentralstaging Redirection 1"
                      stopProcessing="true">
                    <match url="(.*)/(.*)/(.*)/(.*)/" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="webcentralstation.ca"
                             ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca/{R:4}"
                            appendQueryString="false" redirectType="Permanent" />
                </rule>
                <rule name="Webcentralstaging Redirection 2" enabled="true"
                      stopProcessing="true">
                    <match url="(.*)/(.*)/(.*)/(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="webcentralstation.ca"
                             ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca/{R:4}/"
                            redirectType="Permanent" />
                </rule>
                <rule name="Webcentral station Redirect 3" enabled="true"
                      stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="webcentralstation.ca"
                             ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca/{R:0}"
                            redirectType="Permanent" />
                </rule>
                <rule name="mwnw 2010" enabled="false" stopProcessing="true">
                    <match url="2010" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^www.webnotwar.ca"
                             ignoreCase="false" />
                    </conditions>
                    <action type="Redirect"
                            url="http://go.microsoft.com/?linkid=9727857"
                            redirectType="Permanent" />
                </rule>
                <rule name="ftw 2010" enabled="true" stopProcessing="true">
                    <match url="ftw2010" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www.webnotwar.ca" />
                    </conditions>
                    <action type="Redirect"
                            url="http://go.microsoft.com/?linkid=9727858"
                            redirectType="Permanent" />
                </rule>
                <rule name="codeyourartout" stopProcessing="true">
                    <match url="codeyourartout" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www.webnotwar.ca" />
                    </conditions>
                    <action type="Redirect"
                            url="http://www.webnotwar.ca/competition/" />
                </rule>
                <rule name="ftw register" stopProcessing="true">
                    <match url="ftw/register/" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www.webnotwar.ca" />
                    </conditions>
                    <action type="Redirect"
                            url="http://www.webnotwar.ca/ftw/enter-the-contest/"
                            redirectType="Permanent" />
                </rule>
                <rule name="Redirection blog" patternSyntax="ECMAScript"
                      stopProcessing="true">
                    <match url="^blog/(.*)/" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www.webnotwar.ca" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca/{R:1}/" />
                </rule>
                <rule name="venues &amp; registrations" enabled="false"
                      stopProcessing="true">
                    <match url="venues-and-registration*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www.webnotwar.ca" />
                    </conditions>
                    <action type="Redirect"
                            url="http://www.webnotwar.ca/community-events/"
                            redirectType="Permanent" />
                </rule>
                <rule name="ftw student" enabled="true" stopProcessing="true">
                    <match url="ftw/student" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^www.webnotwar.ca" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca/ftw/"
                            redirectType="Permanent" />
                </rule>
                <rule name="webnotwar.ca" enabled="true" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^webnotwar.ca" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca/{R:1}"
                            redirectType="Permanent" />
                </rule>
                <rule name="isvsummit.ca" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="isvsummit.ca" />
                    </conditions>
                    <action type="Redirect" url="http://www.webnotwar.ca/"
                            redirectType="Permanent" />
                </rule>
                <rule name="webcentralstation.ca" enabled="true"
                      stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^webcentralstation.ca"
                             ignoreCase="false" />
                    </conditions>
                    <action type="Redirect"
                            url="http://www.webcentralstation.ca/{R:1}"
                            redirectType="Permanent" />
                </rule>
                <rule name="WordPress Rule 1" stopProcessing="true">
                    <match url="^index\.php$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="None" />
                </rule>
                <rule name="WordPress Rule 2" stopProcessing="true">
                    <match url="^files/(.+)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite"
                            url="wp-includes/ms-files.php?file={R:1}"
                            appendQueryString="false" />
                </rule>
                <rule name="WordPress Rule 3" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile"
                             ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory"
                             ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="WordPress Rule 4" stopProcessing="true">
                    <match url="." ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="wordpress - Rule 1" stopProcessing="true">
                    <match url="^index\.php$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="None" />
                </rule>
                <rule name="wordpress - Rule 2" stopProcessing="true">
                    <match url="^files/(.+)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite"
                            url="wp-includes/ms-files.php?file={R:1}"
                            appendQueryString="false" />
                </rule>
                <rule name="wordpress - Rule 3" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile"
                             ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory"
                             ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="wordpress - Rule 4" stopProcessing="true">
                    <match url="." ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="^webcentralstation.ca" />
                <rewriteMap name="http://www.webcentralstation.ca/{R:1}">
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
    </system.webServer>
</configuration>