#about {
  text-align: center;
}
#about header {
  background: #fff;
  padding: $section_padding;
  h1 {
    font-size: 4em;
  }
}

#about .contact {
  padding: $section_padding;
  background: #cdf2ff;
}