.credits {
  text-align: center;
  ul {
    list-style: none;
    margin: 0px;
  } 
}

.circleImage {
  border: 3px solid #1aa6b4;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: block;
  z-index: 100;
  margin: 0px auto;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -o-border-radius: 300px;
  border-radius: 300px;
}

.polygonImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../images/polygon.png') top center;
  background-size: cover;
  width: 200px;
  height: 200px;
  z-index: 50;
}