#community {
  text-align: center;
}

#community header {
  background: #fff;
  padding: $section_padding;
  h1 {
    font-size: 4em;
  }
}

#community .events {
  padding: $section_padding;
}

h2.month {
  text-align: center;
  a {
    color: $orange;
  }
}