$white: #eee;
$black: #2d3538;
$darkgrey: #2d3538;
$lightgrey: #f2f2f2;
$blue: #0065a6;
$orange: #f78a51;
$green: #00bd9c;
$red: #f2543b;
$teal: #066c86;
$lightteal: #3d899d;
$purple: #442145;

@import "master.scss";
@import "nav.scss";
@import "index.scss";
@import "article.scss";
@import "community.scss";
@import "tutorials.scss";
@import "single.scss";
@import "tutorial.scss";
@import "footer.scss";