#single {
  background: #fdc60b;
}

.author {
  text-align: center;
  a {
    color: $green;
  }
  a:hover {
    color: $lightgreen;
  }
}

article {
  position: relative;
  background: #fff;
  border-radius: 5px;
  overflow:hidden;
  margin: 0 1%;
  margin-bottom: 50px;
  display: inline-block;
  padding-bottom: 50px;
}  
