#tutorial {
  padding: 80px 0px;
}

#subNav {
  ul {
    background: #fff;
    overflow: hidden;
    list-style: none;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0px 5px;
    padding: 10px;
  }
}

#author {
  text-align: center;
  .circleImage {
    margin: 0px auto;
  }
}