#tutorial {
  padding: $section_padding;
}

#learning {
  padding: $section_padding;
  h2 a {
    color: #30b0d1;
  }
}

#subNav {
  ul {
    background: #fff;
    overflow: hidden;
    list-style: none;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0px 5px;
    padding: 10px;
  }
}

#author {
  text-align: center;
  .circleImage {
    margin: 0px auto;
  }
}